.buildlog
.pub/
build/
packages
.dart_tool/
.packages
*.dart.js
*.js_
*.js.deps
*.js.map
workspace.xml
Dart_Packages.xml
.DS_Store
.idea/
*.aqueduct.pid
doc/api/
*.iml
*.ipr
*.iws

HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**
!**/src/test/**

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

*.so
*.a
*.dylib
